
<div class="container-fluid mt-5">
  <div class="col-md-4 col-sm-12 mx-auto">
    <div class="card border border-danger shadow">
      <div class="card-header text-center">
        <h2>Sign up</h2>
        <h4> Event Trigger and Email Notification System </h4>
      </div>
      <div class="card-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form_horizontal") do |f| %>
          <%= f.error_notification %>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>

          <div class="actions">
            <%= f.submit "Sign Up", class: "btn btn-danger btn-block" %>
          </div>
        <% end %>
      </div>
      <div class="card-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
